@import "tailwindcss";

*{
  box-sizing: border-box;
}
@theme {
  --color-bg: #F3EBDE;
  --color-surface: #FFFDF9;
  --color-surface-2: #FBF4E9;

  --color-ink: #2A2019;
  --color-muted: #8C7B6B;
  --color-line: #E7DBC8;

  --color-accent: #B4632B;
  --color-accent-2: #4E7A5A;
  --color-accent-soft: #F1E1CB;
  --color-cream: #F3EBDE;
  --color-accent-hover: #9C531F;

  --font-display: "Instrument Serif", serif;
  --font-body: "Geist", system-ui, sans-serif;
   --animate-float: float 4s ease-in-out infinite;
}

@layer components {
  .container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }

  .background-home{
    background: url(../public/imgs/inteior-capa.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-shadow{
    width: 100%;
    height: 90vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(9, 10, 9, 0.185));
}

.carrousel{
    background-color: var(--bege);
    width: 100%;
    display: flex;
    overflow-x: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
    padding: 10px;
    background-color: var(--color-ink);
}

.carrousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    gap: 1em;
    width: max-content;
    padding-right: 1em;
    animation: marquee  20s linear infinite;
}


.carrousel:hover .group{
    animation-play-state: paused;
}

.card{
    flex: 0 0 auto;
    padding: 1em;
    text-align: center;
    font-family: var(--font-mono);
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--color-cream);
    font-size: 12px;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: transparent;
    transition: background 0.3s ease;
}

.navbar.scrolled {
    background: rgb(0, 0, 0);
    border-bottom: 1px solid #e8e2d698;
    padding-bottom: 10px;
}


  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-15px);
    }
  }
}


